<div class="container">
  <li *ngFor="let property of propertys">
    <ul>
      <div class="item">
        <div> 
          <img class="homeImg" src="../../../../assets/home.jpeg" alt="casa">
        </div>
        <div class="infoContainer"> 
          <span class="titleItem">{{ property.title }}</span>
          <span class="adrress" >
            {{ property.address }}, <strong>{{ property.city }}</strong>, <strong>{{ property.state }}</strong>
          </span>
          <div class="more">
            <span class="price">{{ property.price | mask: 'separator':'.' }} R$</span>
          </div>
        </div>
      </div>
    </ul>
  </li>
</div>