<div class="container">
      <div class="card-item" *ngFor="let property of properties">
        <div class="card-header"> 
          <img class="homeImg" src="../../../../assets/home.jpeg" alt="casa">
        </div>
        <div class="card-body"> 
          <div class="card-detail">
            <h2 class="titleItem">{{ property.title }}</h2>
            <span>
              {{ property.description }}
            </span>
            <span>
              <i nz-icon nzType="tags" nzTheme="outline"></i>
              {{ property.address }}, <strong>{{ property.city }}</strong>, <strong>{{ property.state }}</strong>
            </span>
          </div>
          <div class="card-info">
            R$ {{ property.price | mask: 'separator':'.' }}
          </div>
        </div>
      </div>
</div>