.container {
  width: 40rem;
  margin: 5rem auto 2rem auto;
}

.card-item {
  width: 100%;
  padding-bottom: 2rem;
  margin-top: 2rem;
  border-bottom: 1px solid #ccc;
}

.card-header {
  width: 100%;
}

.card-header img {
  width: 100%;
}

.card-body {
  background-color: #e3e3e3;
  padding: 1rem;
  line-height: normal;
  text-align: left;
  display: flex;
}

.card-detail {
  margin-right: auto;
  font-size: 1rem;
}

.card-detail h2 {
  margin-bottom: 0;
}

.card-detail span {
  display: block;
  margin-top: .2rem;
  color: #666;
}

.card-info {
  color: #eb5534;
  font-size: 2rem;
}