<nz-content>
  <button nz-button nzType="primary" (click)="navigateToNewUser()">Novo Usuario</button>
  <div class="content">
    <nz-table #basicTable [nzData]="users">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.email }}</td>
          <td class="actions">
            <a>
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </a>
            <a>
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-content>